{% extends 'base.html.twig' %}

{% block title %}Manga{% endblock %}

{% block body %}
    <div class="container mt-4">

        <!-- Formulaire de recherche -->
        <form method="get" action="{{ path('app_manga_index') }}" class="mb-4">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Rechercher un manga" value="{{ app.request.query.get('search') }}">
                <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
            </div>
        </form>

        <div class="d-flex justify-content-between mb-4">
            <h1>Mangas</h1>
            <a class="btn btn-primary shadow-sm" href="{{ path('app_manga_new') }}">Ajouter un  <br>manga</a>
        </div>

        <div class="row">
            {% for manga in mangas %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title fw-bold text-secondary">{{ manga.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ manga.price }} €</h6>
                            <p class="card-text">{{ manga.description }}</p>

                            <div class="mb-2">
                                {% if manga.tags is not empty %}
                                    {% for tag in manga.tags %}
                                        <span class="badge bg-success">{{ tag.name }}</span>
                                    {% endfor %}
                                {% else %}
                                    <span class="text-warning">Aucun tag</span>
                                {% endif %}
                            </div>

                            <div class="mt-auto d-flex gap-2">
                                <a class="btn btn-info btn-sm w-50" href="{{ path('app_manga_show', {'id': manga.id}) }}">👁️ Voir</a>
                                <a class="btn btn-warning btn-sm w-50" href="{{ path('app_manga_edit', {'id': manga.id}) }}">✏️ Modifier</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12 text-center text-danger fw-bold">Aucun manga trouvé</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
